<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-home.css">
    <title>Document</title>
</head>
<body>
    <div class="body-container">
        <div class="sidenav-container">
            <div class="nav-header-cotainer">
                <h1>LibraryAdmin</h1>
                <a href="/"><div class="nav-back-button"><img class="icon" src="/Resources/back.png"></div></a>
            </div>
            <div class="nav-body">
                <div class="nav-panel-screen">
                    <div class="panel-screen-option">
                        Student
                    </div>
                    <div class="panel-screen-option">
                        Teacher
                    </div>
                    <div class="panel-screen-option">
                        Books
                    </div>
                    <div class="divider-thin white"></div>
                    <div class="nav-info-container">
                        <div class="info-field-image"><img src="/Resources/profile.jpg" /></div>
                        <div class="info-field-container">
                            <div class="info-field-label">name</div>
                            <div class="info-field">samyak swaroop mishra</div>
                        </div>
                        <div class="info-field-container">
                            <div class="info-field-label">Employ ID</div>
                            <div class="info-field">2041013266</div>
                        </div>
                       
                        <div class="info-field-container">
                            <div class="info-field-label">Email</div>
                            <div class="info-field">gyanibaba@gmail.com</div>
                        </div>
                        
                        <div class="info-field-container">
                            <div class="info-field-label">Contact</div>
                            <div class="info-field">+91 8280633350</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="hero-container">
           

        </div>



        <div class="footer-container"></div>
    </div>
</body>
</html>