<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="">
        <div class="field-container">
            <label for="username">Enter username/email: </label>
            <input type="text" name="username" id="username" required>
        </div>
        <div class="field-container">
            <label for="password">Enter your first name: </label>
            <input type="password" name="password" id="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
</body>

</html>