<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regstration page</title>
    <style>
        *{
            margin:0;
            padding: 0;
            box-sizing: border-box;
            font-family: monospace;
          }
    </style>
</head>
<body>
  <h1>REGISTRATION PANEL</h1> 
  <button><a href="/register/student-register">STUDENT registration </a></button>
  <button><a href="/register/teacher-register">TEACHER registration </a></button>
</body>
</html>