<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/student-home.css">
    <title>Document</title>
</head>
<body>
    <div class="body-container">
        <div class="sidenav-container">
            <div class="nav-header-cotainer">
                <h1>LibraryAdmin</h1>
                <a href="/"><div class="nav-back-button"><img class="icon" src="Resources/back.png"></div></a>
            </div>
            <div class="nav-body">
                <div class="nav-panel-container">
                    <div class="nav-panel-item ">
                        Profile
                    </div>
                    <div class="nav-panel-item">
                        Dues
                    </div>
                </div>
                <div class="nav-panel-screen">
                    <div class="panel-screen-option">
                        Notice
                    </div>
                    <div class="panel-screen-option">
                        Post Query
                    </div>
                    <div class="divider-thin white"></div>
                    <div class="nav-info-container">
                        <div class="info-field-image"><img src="Resources/profile.jpg" /></div>
                        <div class="info-field-container">
                            <div class="info-field-label">name</div>
                            <div class="info-field">samyak swaroop mishra</div>
                        </div>
                        <div class="info-field-container">
                            <div class="info-field-label">Regd. No.</div>
                            <div class="info-field">2041013266</div>
                        </div>
                        <div class="flex-column">
                            <div class="info-field-container width50">
                                <div class="info-field-label">semester</div>
                                <div class="info-field">6th</div>
                            </div>
                            <div class="info-field-container width50">
                                <div class="info-field-label">Branch</div>
                                <div class="info-field">CSIT</div>
                            </div>
                        </div>
                        <div class="info-field-container">
                            <div class="info-field-label">Contact</div>
                            <div class="info-field">+91 8280633350</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="hero-container">
            <div class="current-issue-container">
                <!-- <img class="hero-bg" src="./Resources/collegepic.png"> -->
                <h1>Currently issued Books </h1>
                <div class="current-issue-card-label">
                    <div class="card-label-item fcenter width30">ISBN </div>
                        <div class="divider-vertical-small"></div>
                    <div class="card-label-item fcenter width40">Name</div>
                        <div class="divider-vertical-small"></div>
                    <div class="card-label-item fcenter width15">Issue Dt</div>
                        <div class="divider-vertical-small"></div>
                    <div class="card-label-item fcenter width15">Return Dt</div>
                </div>
                <div class="current-issue-card">
                    <div class="card-item fcenter width30">8546918</div>
                    <div class="card-item fcenter width40">sex and revolution</div>
                    <div class="card-item fcenter width15">23-3-23</div>
                    <div class="card-item fcenter width15">24-4-24</div>
                </div>
                <div class="current-issue-card"></div>
            </div>
            <div class="history-container">

                <h1>Previous Issue History</h1>
                <div class="current-issue-card-label">
                    <div class="card-label-item fcenter width30">ISBN </div>
                        <div class="divider-vertical-small"></div>
                    <div class="card-label-item fcenter width40">Name</div>
                        <div class="divider-vertical-small"></div>
                    <div class="card-label-item fcenter width15">Issue Dt</div>
                        <div class="divider-vertical-small"></div>
                    <div class="card-label-item fcenter width15">Return Dt</div>
                </div>
                <div class="current-issue-card">
                    <div class="card-item fcenter width30">8546918</div>
                    <div class="card-item fcenter width40">s and revolution</div>
                    <div class="card-item fcenter width15">23-3-23</div>
                    <div class="card-item fcenter width15">24-4-24</div>
                </div>

            </div>
        </div>



        <div class="footer-container"></div>
    </div>
</body>
</html>