<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regstration page</title>
    <style>
        *{
            margin:0;
            padding: 0;
            box-sizing: border-box;
            font-family: monospace;
          }
    </style>
</head>
<body>
    <h1> STUDENT REGSTRATION PAGE</h1>
    <div class="field-container">
         <label for="name">Enter your first name: </label>
         <input type="text" name="name" id="name" required>
         <label for="name">Enter your last name: </label>
         <input type="text" name="name" id="name" required>
    </div>
    <div class="field-container">
         <label for="name">profile image </label>
         <input type="file" name="profimg" id="profimg" required>
    </div>
    <div class="field-container">
         <label for="name">Enter your regd. number: </label>
         <input type="number" name="number" id="number" required>
    </div>
    <div class="field-container">
         <label for="name">Enter your contact number: </label>
         <input type="number" name="number" id="number" required>
    </div>
    <div class="field-container">
         <label for="name">Gmail :</label>
         <input type="mail" name="mail" id="mail" required>
    </div>
    <div class="field-container">
         <label for="name">age:</label>
         <input type="number" name="number" id="number" required>
    </div>
    <div class="field-container">
         <label for="name">Course :</label>
         <input type="text" name="number" id="number" required>
    </div>
        <div class="field-container">
         <label for="name">enter password :</label>
         <input type="text" name="number" id="number" required>
    </div>
        <div class="field-container">
         <label for="name">re-enter password :</label>
         <input type="text" name="number" id="number" required>
    </div>
    <button><a href="/">register</a></button>
    <button><a href="/register">BACK</a></button>

</body>
</html>